<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BrowserType" value="PhantomJs"/>
		<add key="Username" value="User@ail.com"/>
		<add key="Password" value="soso"/>
		<add key="Website" value="http://automationpractice.com/index.php"/>
	</appSettings>
</configuration>