<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BrowserType" value="Chrome"/>
		<add key="Username" value="User@ail.com"/>
		<add key="Password" value="soso"/>
		<add key="Website" value="https://www.facebook.com/"/>
		<add key="PageLoadTimeout" value="40"/>
		<add key="ElementLoadTimeout" value="40"/>
		<add key="App.config" value="true"/>
	</appSettings>
</configuration>